@import './common.scss';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
  /* search */
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
    border-bottom: 1px solid $color-lightgray;
    animation: 1s ease showEase;
    height: calc(100vh - 166px);
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      margin-bottom: 30px;
      img {
        border-radius: 20px;
      }
    }
    .search-options {
      select {
        border: 1px solid $color-gray;
        border-radius: 5px;
        padding: 6px;
        outline: none;
      }
    }
    .search-bar {
      display: flex;
      gap: 5px;
      .search-input {
        border: 1px solid $color-gray;
        width: 280px;
        height: 28px;
        font-size: 14px;
        padding: 1px 10px 0 10px;
        border-radius: 5px;
        outline: none;
      }
      .search-btn {
        background-color: transparent;
        border: 1px solid $color-gray;
        border-radius: 5px;
        padding: 4px 4px 0px 4px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          background-color: $color-lightgray;
        }
        span {
          font-size: 20px;
        }
      }
    }
  }
  .movie-result {
    display: none;
    background-color: $color-lightgray;
    margin: 20px;
    border-radius: 10px;
    &.active {
      display: block;
    }
    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding: 20px 10px;
      .movie {
        $size: 300px;
        width: $size;
        height: calc($size * 3 / 2);
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: 1s ease showEase;
        &:hover {
          transform: scale(1.06);
        }
        .desc {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          padding: 12px 6px;
          background-color: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(4px);
          color: white;
          display: flex;
          flex-direction: column;
          gap: 4px;
          font-weight: 600;
          p {
            color: orange;
            font-size: 14px;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
        .like-btn {
          padding: 0;
          position: absolute;
          top: 8px;
          right: 8px;
          background-color: transparent;
          border: 1px solid transparent;
          cursor: pointer;
          color: red;
          span {
            font-size: 34px;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            &.like {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
            &:hover {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
          }
        }
      }
    }
    .search-loading {
      display: none;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      &.active {
        display: flex;
      }
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
        animation: loading 1s linear infinite;
        background-color: $color-yellow;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
          margin: 0px 10px;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
  .scroll-loading {
    opacity: 0;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      opacity: 1;
    }
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: gray;
      border-radius: 50%;
      animation: loading 1s linear infinite;
      background-color: $color-yellow;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
        margin: 0px 10px;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }

  /* detail */
  .detail {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    box-sizing: border-box;
    line-height: 24px;
    gap: 40px;
    animation: 1s ease showEase;
    .poster {
      width: 500px;
      border-radius: 20px;
    }
    .info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 10px;
      h1 {
        font-weight: 800;
        font-size: 34px;
      }
      h3 {
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 4px;
      }
      .labels {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $color-yellow;
        font-weight: 600;
        .like-btn {
          padding: 0;
          background-color: transparent;
          border: 1px solid transparent;
          cursor: pointer;
          color: red;
          span {
            font-size: 30px;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            &.like {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
            &:hover {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
          }
        }
      }
      .plot {
        max-width: 500px;
      }
      .ratings {
        display: flex;
        gap: 20px;
        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        img {
          height: 30px;
        }
      }
    }
  }
}

// mobile
@media screen and (max-width: 768px) {
  main {
    .movie-result {
      .movie {
        $size: 200px;
        max-width: $size;
        max-height: calc($size * 3 / 2);
      }
    }
    .detail {
      .poster {
        max-width: 422px;
      }
    }
    .search {
      .main {
        img {
          max-width: 422px;
        }
      }
    }
  }
}
