@import './common.scss';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;
  width: 100vw;
  overflow-x: hidden;
  /* search */
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid $color-lightgray;
    animation: 1s ease showEase;
    height: calc(100vh - $height-header);
    position: relative;
    .main-image {
      display: flex;
      .img-left {
        width: calc(13vw);
        height: calc(100vh - $height-header);
        background-color: #ffc440;
      }
      .img-right {
        width: calc(13vw);
        height: calc(100vh - $height-header);
        background-color: #f0bb49;
      }
      img {
        width: calc(74vw);
        height: calc(100vh - $height-header);
      }
    }
    .search-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      right: 20vw;
      top: 25vh;
      background-color: $color-white;
      padding: 30px;
      border: 1px solid $color-lightgray;
      border-radius: 20px;
      box-shadow: $box-shadow;
      .search-options {
        select {
          height: 32px;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 6px;
          outline: none;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            background-color: $color-lightgray;
          }
        }
      }
      .search-bar {
        display: flex;
        gap: 10px;
        .search-input {
          border: 1px solid transparent;
          width: 280px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          padding: 1px 10px 0 10px;
          border-radius: 5px;
          outline: none;
          transition: all 0.5s ease;
          &:hover {
            background-color: $color-lightgray;
          }
        }
        .search-btn {
          width: 44px;
          background-color: transparent;
          border: 1px solid transparent;
          border-radius: 5px;
          padding: 4px 4px 0px 4px;
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            background-color: $color-lightgray;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
  .movie-result {
    display: none;
    background-color: $color-lightgray;
    margin: 20px;
    border-radius: 10px;
    &.active {
      display: flex;
    }
    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      padding: 20px 10px;
      h1 {
        font-size: 18px;
      }
      .movie {
        $size: 17vw;
        width: $size;
        height: calc($size * 3 / 2);
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: 1s ease showEase;
        &:hover {
          transform: scale(1.06);
        }
        .desc {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          padding: 12px 6px;
          background-color: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(4px);
          color: white;
          display: flex;
          flex-direction: column;
          gap: 4px;
          font-weight: 600;
          p {
            color: orange;
            font-size: 14px;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
        .like-btn {
          padding: 0;
          position: absolute;
          top: 8px;
          right: 8px;
          background-color: transparent;
          border: 1px solid transparent;
          cursor: pointer;
          color: red;
          span {
            font-size: 34px;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            &.like {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
            &:hover {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
          }
        }
      }
    }
    .search-loading {
      display: none;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      &.active {
        display: flex;
      }
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
        animation: loading 1s linear infinite;
        background-color: $color-yellow;
        &:nth-child(1) {
          animation-delay: 0s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
          margin: 0px 10px;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
  .scroll-loading {
    display: none;
    height: 100px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    &.active {
      display: flex;
    }
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: gray;
      border-radius: 50%;
      animation: loading 1s linear infinite;
      background-color: $color-yellow;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
        margin: 0px 10px;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
    }
  }

  /* detail */
  .detail {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    padding-top: 6vh;
    box-sizing: border-box;
    line-height: 24px;
    gap: 40px;
    animation: 1s ease showEase;
    .poster {
      $size: 28vw;
      width: $size;
      height: calc($size * 3 / 2);
      border-radius: 20px;
    }
    .info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 10px;
      h1 {
        font-weight: 800;
        font-size: 34px;
        line-height: 1;
      }
      h3 {
        font-weight: 800;
        font-size: 18px;
        margin-bottom: 4px;
      }
      .labels {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $color-yellow;
        font-weight: 600;
        .like-btn {
          padding: 0;
          background-color: transparent;
          border: 1px solid transparent;
          cursor: pointer;
          color: red;
          span {
            font-size: 30px;
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            &.like {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
            &:hover {
              font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
            }
          }
        }
      }
      .plot {
        width: 25vw;
      }
      .ratings {
        display: flex;
        align-items: center;
        gap: 20px;
        .rating {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        img {
          height: 30px;
        }
      }
    }
  }
  // recents
  .recents {
    position: absolute;
    top: 3vh;
    right: 1vw;
    margin: 20px;
    background-color: $color-lightgray;
    box-shadow: $box-shadow;
    border-radius: 10px;
    height: 82vh;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    h1 {
      padding: 20px 20px 15px 20px;
      font-weight: 800;
    }
    .movies {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
      padding: 0 20px 20px 20px;
      .movie {
        $size: 10vw;
        width: $size;
        height: calc($size * 3 / 2);
        overflow: hidden;
        position: relative;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease-in;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: 1s ease showEase;
        &:hover {
          transform: scale(1.06);
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.not-result {
  opacity: 0;
  position: absolute;
  top: 10vh;
  right: 40vw;
  width: 10vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 15px;
  background: #333;
  color: $color-white;
  font-size: 14px;
  &.active {
    animation: showAndHideEase 3s ease;
  }
  &::after {
    content: ' ';
    position: absolute;
    left: -26px;
    top: 50%;
    margin-top: -15px;
    border: solid rgba(51, 51, 51, 0);
    border-right-color: #333;
    border-width: 14px;
  }
}

// mobile
@media screen and (max-width: 768px) {
  main {
    .movie-result {
      .movies {
        .movie {
          $size: 35vw;
          width: $size;
          height: calc($size * 3 / 2);
        }
      }
    }
    .detail {
      .poster {
        $size: 80vw;
        width: $size;
        height: calc($size * 3 / 2);
      }
      .info {
        width: 80vw;
        .plot {
          width: 80vw;
        }
        .ratings {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .recents {
      position: relative;
      top: 0;
      right: 0;
      height: 60vh;
      h1 {
        padding: 30px;
      }
      .movies {
        flex-direction: row;
        .movie {
          $size: 35vw;
          width: $size;
          height: calc($size * 3 / 2);
        }
      }
    }
    .search {
      .main-image {
        flex-direction: column;
        .img-left {
          width: 100vw;
          height: 18vh;
          background-color: #f3bd40;
        }
        .img-right {
          width: 100vw;
          height: 18vh;
          background-color: #ffc440;
        }
        img {
          width: 100vw;
          height: 38vh;
        }
      }
      .search-container {
        border-radius: 0;
        border: none;
        box-shadow: none;
        width: 100vw;
        height: 10vh;
        top: 74vh;
        left: 0;
      }
    }
  }
  // not-result
  .not-result {
    top: 22vh;
    right: 12vw;
    width: 34vw;
    height: 6vh;
  }
}
